.container {
  display: flex;
  flex-direction: column;
  gap: rem(3);
}

.row,
.row span {
  @include font-size("text-sm", "regular");
  font-family: $lato;
  display: flex;
  align-items: center;
  color: var(--white-60);
}

.row span {
  gap: rem(3);
}
