.wrapper {
  display: flex;
  flex-direction: column;
  @include spacing(padding, 24, "top");
  h1 {
    font-family: $lato;
    @include font-size("text-xl", "regular");
  }
}

.container {
  align-self: center;
  width: 100%;
  @include breakpoint(desktop) {
    width: map-get($container-sizes, sm);
  }
}
